.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  background-color: bisque;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}
.tab-list-item:hover {
  cursor: pointer;
  background-color: rgb(247, 172, 10);
}
.tab-list-active {
  background-color: rgb(247, 172, 10);
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}
